* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }

  /* css reset */

section {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  row-gap: 100px;
  font-family: 'Courier New', Courier, monospace;
  padding-left: 100px;
  background-color: black;
}

.charactername {    
  margin-top: 40px;
}

.charactername form label {
  font-size: 35px;
  border-color: red;
  color:salmon;
}

.charactername form input {
  height: 40px;
  font-size: 20px;
  border-color:cornsilk;
  border-radius: 5px;
  width: 60%;
  border-color: salmon;
  color: salmon;
}
  
  
.charactername form #values {
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  color: salmon;
  z-index: 99;
  }
  
.charactername form input text {
  font-size: 30px;
  color: salmon;
}



input[type=text], select {  
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: salmon;
  background-color: black;
  border-color: salmon;
}

.classes label {
  font-size: 20px;
}

.races label {    
  font-size: 20px;
}

.gender label {  
  font-size: 20px;
}

.charactersheet {
  position: relative;
  background-color: salmon;
  width: 450px;
  height: 650px;
  border-radius: 5px;
  margin-top: 40px;
  /*margin-right: 100px;*/
}

h2 {
  padding: 10px;
}

p {
  padding: 10px;
}

